# 1.Clustering por tienda

# 2. Clustering por producto

In [1]:
import pandas as pd

In [5]:
# Leemos el csv
df = pd.read_csv(r'C:\Users\alici\Documents\master_data_science\proyecto_nuclio\TFM\datos_arreglados.csv', index_col=0).reset_index(drop=True)
df.head()

,date,item,category,department,stores,region,week,year,is_holidays,units_sold,sell_price,total_sales
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,0,0,12.7414,0.0000
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,1,0,12.7414,0.0000
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,29,2013,0,4,10.9858,43.9432
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,30,2013,0,6,10.9858,65.9148
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,31,2013,0,0,10.9858,0.0000

Para realizar un clustering de productos similares, debemos centrarnos en las variables que describen mejor las características y el comportamiento de los productos. En este caso, las variables que podrían ser más útiles para un análisis de clustering son:

*-item:* Identificador del producto, que nos permitirá diferenciar cada uno de ellos.

*-category:* La categoría del producto es una característica fundamental que agrupa productos similares.

*-department:* Similar a la categoría, pero puede ser una clasificación más amplia dentro de la tienda.

*-units_sold:* La cantidad de unidades vendidas puede indicar la popularidad o la demanda del producto.

*-sell_price:* El precio de venta nos da una idea del segmento de mercado del producto (económico, premium, etc.).

*-total_sales:* Representa el ingreso total generado por el producto en una semana, que puede ser un reflejo de su éxito y su posición en el mercado.


Las variables como *date, week, year* y *is_holidays* son temporales y contextuales, y no necesariamente reflejan las propiedades intrínsecas de los productos. Sin embargo, podríamos incluir más adelante *is_holidays* puesto que la venta de ciertos productos puede estar fuertemente influenciada por temporadas festivas, lo que podría ayudar a identificar productos de temporada.

Observamos las categorías dentro de las variables que consideramos que tienen mayor relación.

In [6]:
df.item.value_counts()

HOME_&_GARDEN_2_142    2740
HOME_&_GARDEN_1_331    2740
SUPERMARKET_2_391      2740
HOME_&_GARDEN_1_324    2740
HOME_&_GARDEN_2_315    2740
                       ...
HOME_&_GARDEN_1_308     571
HOME_&_GARDEN_1_159     553
HOME_&_GARDEN_1_242     530
SUPERMARKET_3_296       517
SUPERMARKET_2_379       460
Name: item, Length: 3049, dtype: int64

In [7]:
df.category.value_counts()

SUPERMARKET      3073307
HOME_&_GARDEN    2295918
ACCESORIES       1241288
Name: category, dtype: int64

In [8]:
df.department.value_counts()

SUPERMARKET_3      1773017
HOME_&_GARDEN_2    1175615
HOME_&_GARDEN_1    1120303
ACCESORIES_1        928899
SUPERMARKET_2       793587
SUPERMARKET_1       506703
ACCESORIES_2        312389
Name: department, dtype: int64

In [9]:
df.sell_price.value_counts()

2.3760     210293
3.5760     204952
3.0000     179634
1.2000     143259
4.7760     134873
            ...
1.3625          1
14.0448         1
20.0564         1
14.8162         1
16.5125         1
Name: sell_price, Length: 1855, dtype: int64

In [10]:
df.total_sales.value_counts()

0.0000       1636984
12.0000        17906
9.9250         17004
7.4250         16620
4.9625         16021
              ...
5898.7362          1
1121.6880          1
1570.7520          1
417.3750           1
555.2000           1
Name: total_sales, Length: 36890, dtype: int64